html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  color: #fff;
  background: #333;
  position: absolute;
  height: 100%;
  width: 100%;
}

ul.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  z-index: 100;
}

li.nav-item {
  float: left;
}

li.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li.nav-item a:hover {
  background-color: #111111;
}

.epub-container {
  -webkit-overflow-scrolling: touch
}